:root {
    --background-color: #FFFFFF;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --logo-color:#000000;
    --menu-nav-color: #212121;
    --hero-bcg-color: #2F303A;
    --hero-title-color: #FFFFFF;
    --footer-white-color:#FFFFFF;
    }
body{
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family:'Roboto', san-serif;
    font-size: 14px;
    }
/* Header */
.logo {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1738;
    text-decoration: none 
    }
.logo-header {
    color: var(--logo-color);
    }
.nav {
    font-weight: 500;
    line-height: 1.1428;
    list-style: none;
    }
.nav-link {
    color: var(--menu-nav-color);
    text-decoration: none;
    }
.nav-link:hover, 
.nav-link:focus {
    color: var(--accent-color); 
    }
.current {
    color: var(--accent-color);
    }
.contacts-header {
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    text-decoration: none
    }
.contacts-footer {
    list-style: none;
    font-size: 14px;
    line-height: 1.1428;
    text-decoration: none
    }
.contacts-link {
    color: var(--primary-text-color);
    text-decoration: none;
    }
.contacts-link:hover, 
.contacts-link:focus {
    color: var(--accent-color);
    }
/* Hero */
.hero {
    background-color: var(--hero-bcg-color);
    }
.hero-title {
    color: var(--hero-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    text-align: center;
    text-transform: uppercase;
    }
.button {
    color:var(--hero-title-color);
    background-color: var(--accent-color);
    text-align: center;
    }
/* Features */
.features-list {
    list-style: none;
    text-decoration: none;
    }
.features-item {
    }
.feature-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
.feature-content {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.7142;
    }
/* Чем мы занимаемся */
.works-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    color: var(--title-text-color);
    }
.works {
    list-style: none;
    }
/* Наша команда */
.our-team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    color: var(--title-text-color); 
    }
.team-item{
    list-style: none;   
    }
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: var(--title-text-color); 
    }
.team-description {
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    }
/* Футер */
.container {   
    background-color: #000000; 
    }
.logo-footer {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: var(--footer-white-color);
    }
.adress {
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--footer-white-color); 
    }
.contacts-footer {
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
}
.contacts-footer-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6); 
}
.contacts-footer-link:hover, 
.contacts-footer-link:focus {
    color: var(--accent-color);
}
/* Portfolio */
.filters {
    list-style: none;
    }
.filter-item {
    font-family: inherit;
    cursor: pointer;
    }
.filter-button.primary {
    color: var(--accent-color);
    }
.filter-button:hover,
.filter-button:focus {
    color: var(--hero-title-color);
    background-color: var(--accent-color);
    }
.list{
    list-style: none;
    text-decoration: none;   
    }
.list-item {
    text-decoration: none;
    }
.list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    /* text-decoration: none; */
    }
.list-content {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
    }